@import 'variables'
@import 'fixes'
@import 'defaults'
@import 'modules/*'

div#main
	display: flex
	flex-direction: column
	height: 100%

.red-text
	color: base08
.green-text
	color: base0b
.yellow-text
	color: base0a
