<div class="search-form">
	<form action="{{ searchProvider.url }}">
		<label for="{{ searchProvider.queryParameter }}">Search with {{ searchProvider.name }}</label>
		<input type="text" name="{{ searchProvider.queryParameter }}" autofocus />
	</form>
</div>
