<!DOCTYPE html>
<html>
	{% include 'partials/head.njk' %}
	<body>
		<div id="main">
			{% include 'components/search-form.njk' %}
			{% include 'components/crypto-ticker.njk' %}
		</div>
		{% include 'partials/scripts.njk' %}
	</body>
</html>
