div.crypto-ticker
	display: flex
	flex-direction: column
	p.total
		font-size: 17vmin
		line-height: 1.6em
		font-weight: 600
		text-align: center
		margin: 0
		flex-grow: 1
	div.coins
		display: flex
		flex-wrap: wrap
		justify-content: center
		div.coin
			display: flex
			flex-direction: column
			flex: 1 0 8rem
			font-size: 1rem
			margin-bottom: 1em
			text-align: center
			max-width: 15rem
			p
				margin: 0
				padding: .25em 1em
				&.name
					font-weight: 600
					text-align: center
				&.total-value
					font-size: 2em
					line-height: 1.6em
					font-weight: 600
					text-align: center
				&.row
					display: flex
					span
						flex: 0 0 50%
				&:nth-child(odd)
					background: base01
				&:nth-child(even)
					background: base02
